{% extends "_core/base.html" %}
{% block title %}{{ character_name }}{% endblock %}

{% block head %}
<!-- Import positioning, etc. for the requested game -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles') }}/{{game}}.css">
{% endblock%}

{% block body %}
<div id="character">
    <div class="stats abilities">
        <div>
            Str <input class="stat" type="number" min="-2" max="99"><br>
            (+2)
        </div>
        <div>Dex </div>
        <div>Con </div>
        <div>Int </div>
        <div>Wis </div>
        <div>Cha </div>
    </div>
</div>
<!-- <div id="character">
    <div class="stats combat">
        <label for="hp">HP:</label>
        <input id="hp" name="hp" type="text" class="stat hp" maxlength="4"> / {{ max_hp }}
        <div class="adjustment">
            <button>+</button>
            <button>r</button>
            <button>-</button>
        </div>
    </div>
    
    <div class="stats"></div>

    <div class="skills"></div>
</div> -->
{% endblock %}