{% extends "_core/base.html" %}
{% block title %}Log In{% endblock %}

{% block head %}{% endblock%}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="error">
        Error: {{ messages[0] }}.
    </div>
{% endif %}
{% endwith %}

<div id="login">
    <form action="{{ url_for('auth.login') }}?next={{ next }}" method="post">
        <label for="user_id">User ID:</label>
        <input type="text" name="user_id" autocomplete="username">
        <label for="lname">Password:</label>
        <input type="password" name="password">
        <input type="submit" value="Submit">
    </form>
    <a href="{{ url_for('auth.signup') }}?next={{ next }}" style="margin-top: 2%;"><button id="signup">I don't have an account</button></a>
</div>
{% endblock %}