{% extends "_core/character_sheet.html" %}

{% block scores %}
<div class="ability_scores">
    <div>
        <span class="modifier" id="strength_mod"></span><br>
        <div class="score" id="strength">{{ strength }}</div>
        <div class="score_label">Strength</div>
    </div>

    <div>
        <span class="modifier" id="dexterity_mod"></span><br>
        <div class="score" id="dexterity">{{ dexterity }}</div>
        <div class="score_label">Dexterity</div>
    </div>

    <div>
        <span class="modifier" id="constitution_mod"></span><br>
        <div class="score" id="constitution">{{ constitution }}</div>
        <div class="score_label">Constitution</div>
    </div>

    <div>
        <span class="modifier" id="intelligence_mod"></span><br>
        <div class="score" id="intelligence">{{ intelligence }}</div>
        <div class="score_label">Intelligence</div>
    </div>

    <div>
        <span class="modifier" id="wisdom_mod"></span><br>
        <div class="score" id="wisdom">{{ wisdom }}</div>
        <div class="score_label">Wisdom</div>
    </div>

    <div>
        <span class="modifier" id="charisma_mod"></span><br>
        <div class="score" id="charisma">{{ charisma }}</div>
        <div class="score_label">Charisma</div>
    </div>

</div>

<div><br>
    <div class="">
        Base attack bonus:<br>+<span class="stat" id="base_attack_bonus">{{ base_attack_bonus }}</span>
    </div><br>
    <div class="label">Saving Throws</div>
    <div class="saves">
        <div>Fortitude <span id="fortitude_save"></span></div>
        <div>Reflex <span id="reflex_save"></span></div>
        <div>Will <span id="will_save"></span></div>
    </div><br>

    <div class="label">Skills</div>
    <div class="skills">
        {% for skill in fetch.fetch_skills(game) %}
        <!--TODO - check if the skill allows for a blank and adjust accordingly-->
        <div>
            <!--TODO - check if the skill is a class
                 skill of the character's favored class-->
            <input type="checkbox" id="{{ skill }}_is_class_skill" {% if skill in class_skills.keys() and class_skills[skill] == 'true' %}checked{% else %}{% endif %} onclick="update('class_skills:{{ skill }}', this.checked); update_stats()">
        </div>
        <div>
            <span>{{ skill }}</span><br>
            <span>Points: </span><span class="stat" id='skills:{{ skill.lower().replace(" ", "_") }}'>{{ skills.get(skill.lower(), 0) }}</span>
        </div>
        <div>
            <span id="{{ skill.replace(' ', '_') }}_bonus" class="skill_bonus">+0</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block combat_stats %}
<div class="armor_class">
    <span class="stat_static" id="armor_class">[AC]</span><br>
    <input class="stat_adjustment" type="number" value="0" min="-99" max="999">
</div>
<div class="initiative">
    <span class="stat_static" id="initiative">[INIT]</span><br>
    <input class="stat_adjustment" type="number" value="0" min="-99" max="999">
</div>
<div class="speed">
    <span class="stat_static" id="speed">[SPD]</span><br>
    <input class="stat_adjustment" type="number" value="0" min="-99" max="999">
</div>

<div class="stat_label armor_class">Armor Class</div>
<div class="stat_label initiative">Initiative</div>
<div class="stat_label speed">Speed</div>

<div class="armor_class">
    Touch: <span class="stat_static" id="armor_class_touch">[AC]</span><br>
    F-F: <span class="stat_static" id="armor_class_flat">[AC]</span>
</div>
<div class="combat_maneuver_bonus">
    <span class="stat_static" id="combat_maneuver_bonus">[CMB]</span><br>
    <input class="stat_adjustment" type="number" value="0" min="-99" max="999">
</div>
<div class="combat_maneuver_defense">
    <span class="stat_static" id="combat_maneuver_defense">[CMD]</span><br>
    <input class="stat_adjustment" type="number" value="0" min="-99" max="999">
</div>

<div class="stat_label armor_class"></div>
<div class="stat_label combat_maneuver_bonus">CMB</div>
<div class="stat_label combat_maneuver_defense">CMD</div>
{% endblock %}

{% block brief %}
<div class="label">Personality</div>
<div class="multiline_stat" id="personality">
    {{ personality }}
</div>

<div class="label">{% if editable %}<a>Traits <i class="lar la-plus-square"></i></a>{% else %}Traits{% endif %}</div>
<div id="traits" class="">
    None
</div>

<div class="label">Languages</div>
<div class="multiline_stat" id="languages">
    {{ languages }}
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    //TODO - get from race
    speed = 30; //TEMP
    size = 0; //TEMP
    /*
    fine = -4   
    diminutive = -2
    tiny = -1
    small = -0.5
    medium = 0
    large = 0.5
    huge = 1
    gargantuan = 2
    colossal = 4
    */

    base_attack_bonus = $("#base_attack_bonus").text() / 1;

    function update_stats() {
        if (stat_modifiers.strength == null) stat_modifiers.strength = 0;
        if (stat_modifiers.dexterity == null) stat_modifiers.dexterity = 0;
        if (stat_modifiers.constitution == null) stat_modifiers.constitution = 0;
        if (stat_modifiers.intelligence == null) stat_modifiers.intelligence = 0;
        if (stat_modifiers.wisdom == null) stat_modifiers.wisdom = 0;
        if (stat_modifiers.charisma == null) stat_modifiers.charisma = 0;
        strength = $("#strength").text() / 1 + stat_modifiers.strength;
        str_mod = Math.floor((strength / 2) - 5);
        dexterity = $("#dexterity").text() / 1 + stat_modifiers.dexterity;
        dex_mod = Math.floor((dexterity / 2) - 5);
        constitution = $("#constitution").text() / 1 + stat_modifiers.constitution;
        con_mod = Math.floor((constitution / 2) - 5);
        intelligence = $("#intelligence").text() / 1 + stat_modifiers.intelligence;
        int_mod = Math.floor((intelligence / 2) - 5);
        wisdom = $("#wisdom").text() / 1 + stat_modifiers.wisdom;
        wis_mod = Math.floor((wisdom / 2) - 5);
        charisma = $("#charisma").text() / 1 + stat_modifiers.charisma;
        cha_mod = Math.floor((charisma / 2) - 5);

        // AC = (dex + 10 base + armor bonus) minus anything over the dex cap
        if (stat_modifiers.armor_bonus == null) stat_modifiers.armor_bonus = 0;
        if (stat_modifiers.armor_dex_cap == null) stat_modifiers.armor_dex_cap = 999999;
        $("#armor_class").text(
            10 + dex_mod + stat_modifiers.armor_bonus - Math.max(0, Math.max(dex_mod, 0) - stat_modifiers.armor_dex_cap)
        );
        $("#armor_class_touch").text(
            10 + dex_mod
        );
        $("#armor_class_flat").text(
            10 + stat_modifiers.armor_bonus
        );

        // initiative
        if (stat_modifiers.initiative == null) stat_modifiers.initiative = 0;
        $("#initiative").text(
            add_sign(dex_mod + stat_modifiers.initiative)
        );

        // speed
        if (stat_modifiers.speed == null) stat_modifiers.speed = 0;
        $("#speed").text(speed + stat_modifiers.speed);

        // CMB = BAB + STR + Size Mod + Other
        if (stat_modifiers.combat_maneuver_bonus == null) stat_modifiers.combat_maneuver_bonus = 0;
        $("#combat_maneuver_bonus").text(
            add_sign(base_attack_bonus + str_mod + (size * 2) + stat_modifiers.combat_maneuver_bonus)
        );

        // CMD = 10 + BAB + STR + DEX + Size Mod + Other
        if (stat_modifiers.combat_maneuver_defense == null) stat_modifiers.combat_maneuver_defense = 0;
        $("#combat_maneuver_defense").text(
            10 + base_attack_bonus + str_mod + dex_mod + (size * 2) + stat_modifiers.combat_maneuver_defense
        );

        // Saving throws
        if (stat_modifiers.fortitude_save == null) stat_modifiers.fortitude_save = 0;
        $("#fortitude_save").text(
            add_sign(con_mod + stat_modifiers.fortitude_save)
        );
        if (stat_modifiers.reflex_save == null) stat_modifiers.reflex_save = 0;
        $("#reflex_save").text(
            add_sign(dex_mod + stat_modifiers.reflex_save)
        );
        if (stat_modifiers.will_save == null) stat_modifiers.will_save = 0;
        $("#will_save").text(
            add_sign(wis_mod + stat_modifiers.will_save)
        );

        //ANCHOR - Skills
        $.get("{{ url_for('main.fetch_from_rules', game=game, to_fetch='skills') }}", data => {
            Object.entries(data).forEach(skill => {
                skill_name = skill[0];
                skill_properties = skill[1];

                stat = 0
                switch (skill_properties.ability) {
                    case "strength":
                        stat = str_mod;
                        break;
                    case "dexterity":
                        stat = dex_mod;
                        break;
                    case "intelligence":
                        stat = int_mod;
                        break;
                    case "wisdom":
                        stat = wis_mod;
                        break;
                    case "charisma":
                        stat = cha_mod;
                        break;
                }

                // NIGHTMARE NIGHTMARE NIGHTMARE
                stat /= 1;
                stat_points = (document.getElementById("skills:"+skill_name.toLowerCase().replaceAll(" ", "_")).innerHTML) / 1;
                if (stat_points > 0 && document.getElementById(skill_name+"_is_class_skill").checked) {
                    stat += 3;
                }
                stat += stat_points;
                $(("#"+skill_name+"_bonus").replace("(", "\\(").replace(")", "\\)").replace(" ", "_")).text(
                    add_sign(stat)
                );
            });
        });

        set_nonlethal_background(($("#nonlethal_damage").text() / $("#hp").text()) * 100);
    }
</script>

{% if editable %}
<script>
    //TODO - {"removes":"condition"}
    // i.e. exhausted removes fatigued
    // conditions
    function add_condition() {
        // Clear out previous overlay items
        generate_searchable_list('add condition', {
"Antagonized": "Antagonized",
"Bleed": "Bleed",
"Blinded": "Blinded",
"Confused": "Confused",
"Cowering": "Cowering",
"Dazed": "Dazed",
"Dazzled": "Dazzled",
"Deafened": "Deafened",
"Disabled": "Disabled",
"Energy Drained": "Energy Drained",
"Entangled": "Entangled",
"Exhausted": "Exhausted",
"Fascinated": "Fascinated",
"Fatigued": "Fatigued",
"Frightened": "Frightened",
"Grappled": "Grappled",
"Helpless": "Helpless",
"Incorporeal": "Incorporeal",
"Invisible": "Invisible",
"Nauseated": "Nauseated",
"Panicked": "Panicked",
"Paralyzed": "Paralyzed",
"Petrified": "Petrified",
"Pinned": "Pinned",
"Prone": "Prone",
"Shaken": "Shaken",
"Sickened": "Sickened",
"Stable": "Stable",
"Staggered": "Staggered",
"Stunned": "Stunned",
"Unconscious": "Unconscious",
"Asleep": "Asleep",
"Drowsy": "Drowsy"
        }, "apply_condition");
    }
</script>
{% else %}{% endif %}
{% endblock %}