* {
    /*font-family: "Playfair Display";*/
    font-family: "Caudex";
}

body {
    margin: 0;
    padding: 12px;
    overflow-x: hidden;
    background-color: #666;
    color: #fff;
}

.error {
    display: block;
    color: red;
    font-size: xx-large;
    border: 3px solid navy;
    border-radius: 15px;
    position: absolute;
    top: 5%;
    transform: translateX(-50%);
    left: 50%;
    max-width: 80vw;
    text-align: center;
    padding: 14px 20px;
}

.title {
    font-size: larger;
    font-weight: bold;
}

.character_button {
    margin: 10px 0;
}
.character_button button {
    font-size: x-large;
}
#new_character_options * {
    font-size: larger;
}
#new_character_options select {
    box-sizing: border-box;
    font-size: large;
    border: none;
    border-bottom: 2px solid black;
    background-color: inherit;
    padding-right: 4px;
}

#banner {
    font-size: 200%;
    text-align: center;
    margin: 1% 0;
}

.home {
    display: flex;
    justify-content: center;
    width: 100%;
}

.character_area {
    align-items: center;
    display: flex;
    flex-basis: 24%;
    flex-direction: column;
}

.new_character_area {
    /*dummy rule to make my linter happy*/
    display: block;
}

#links {
    align-items: center;
    display: flex;
    flex-basis: 24%;
    flex-direction: column;
    gap: 1rem;
}

#login {
    font-size: x-large;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#login form label {
    margin-top: 15px;
}
#login form input[type=text], #login form input[type=password] {
    font-size: x-large;
}
#login form input[type=submit] {
    margin-top: 12px;
    font-size: x-large;
    width: auto;
    padding: 0 20px;
}

#logged_out {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    gap: 2rem;
    margin-top: 5%;
    width: 100%;
}
#logged_out a {
    color: whitesmoke;
    width: fit-content;
}
#logged_out a button{
    font-size: 2rem;
}
