.character {
    font-size: larger;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: auto auto;
    row-gap: 16px;
}

.fillable, .stat, .stat-nonlethal {
    cursor: pointer;
}

.stats, input.stat {
    font-size: larger;
    text-align: center;
}

#character_image_container {
    display: block;
    width: 225px;
    height: 300px;
    flex-shrink: 0;
}
.character_image {
    position: relative;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flipped .character_image {
    transform: rotateY(180deg);
}
.character_image_front, .character_image_back {
    box-sizing: border-box;
    border: 2px solid #dedede;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}
.character_image_front {
    cursor: pointer;
    transition: box-shadow 0.3s;
    background-color: lightslategray;
}
.character_image_front:hover {
    box-shadow: 5px 5px 10px -1px rgb(0, 114, 93);
}
.character_image_back {
    background-color: #3b3b3b;
    color: #c8c8c8;
    transform: rotateY(180deg);
    align-items: end;
}
.character_image_back a, .character_image_front a {
    position: absolute;
    right: 8px;
    top: 8px;
    vertical-align: baseline;
}
.character_image_front a {
    text-shadow: 0 0 3px navy;
}
.character_image_back a i {
    transition: transform 0.6s ease;
}
.character_image_back a:hover i {
    transform: rotate(270deg);
}
.appearance {
    display: grid;
    grid-template-columns: 1fr 0.5em 1.5fr;
    grid-template-rows: auto;
    row-gap: 4px;
    width: 80%;
    max-width: 80%;
    margin: auto;
    height: auto;
    font-size: 18px;
    max-height: 76%;
    overflow-y: auto;
}
.appearance *:nth-child(3n-2) {
    margin-right: auto;
}
.appearance .fillable {
    margin-left: auto;
    overflow-x: auto;
    max-width: 100%;
    text-align: right;
    width: 90%;
    transition: text-decoration-color 0.22s ease-out;
    text-decoration: underline dashed;
    text-decoration-color: rgba(0,0,0,0);
}
.appearance .fillable:hover {
    text-decoration-color: inherit;
}
.appearance #newcontent {
    width: 100%;
    text-align: right;
    outline: none;
    background-color: #4e4e4e;
    color: inherit;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 90%;
    margin: 0 auto;
}
.info .fillable {
    font-size: x-large;
    width: 100%;
    overflow-x: auto;
}
.info input {
    width: 100%;
}


button.features, button.inventory, button.spells {
    font-size: large;
}
/* button.features:target, button.inventory:target, button.spells:target {
    border-radius: 4px;
    background-color: lightgray;
} */
button.features {
    width: 30%;
}
button.inventory {
    width: 30%;
}
button.spells {
    width: 30%;
}

.stats.attributes {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr;
    grid-template-rows: 1.6em auto;
    gap: 6px;
}

.stats.scores {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 8px;
}
.stats.ability_scores {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.ability_scores > div {
    border: 1px solid black;
    margin-bottom: 10px;
}

.label {
    font-size: 20px;
    color: white;
    background-color: black;
}

.score_label {
    font-size: medium;
    padding-bottom: 16px;
}
/* 
.stat_label {
    margin-bottom: 4px;
} */

.sidebar_header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar i {
    font-size: 45px;
}

a {
    cursor: pointer;
}

.combat .stat, .combat .stat_static {
    font-size: xx-large;
    margin-top: 6px;
    overflow-x: scroll;
}

input.stat_change, input.attribute_change {
    text-align: center;
}

input.stat_adjustment {
    text-align: center;
    font-size: medium;
    width: 3em;
}

.stat_change {
    border-radius: 4px;
}
.stat_change:focus{
    outline: 0;
}
.stat_change:hover {
    border-color: lightblue;
}
.stat_change:focus {
    border-color: navy;
}

.multiline_stat {
    font-size: large;
    width: 100%;
}
.multiline_stat textarea {
    font-size: large;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.skill_bonus {
    display: inline-block;
    width: 2em;
    text-align: right;
    padding-right: 4px;
}

/*ANCHOR - specific stats*/
#character_name {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

#character_name input {
    width: 100%;
    font-size: 35px;
}

.combat .stat_change, .ability_scores .stat_change {
    --stat-animation-duration: 280ms;
    width: 3em;
    text-align: center;
    box-sizing: border-box;
    margin: 4px;
    text-align: center;
    transition: border var(--stat-animation-duration) ease-out;
    /* border: 1px solid black; */
    font-size: x-large;
    padding: 0;
    margin-top: 0;
}

.hp {
    color: rgb(70, 164, 204);
    font-weight: bold;
    font-size: 54px;
}
.hp .stat_change{
    width: 2em;
    color: inherit;
    font-weight: bold;
    font-size: 54px;
    background-color: #4e4e4e;
}
#hp {
    color: rgb(147, 228, 191);
    font-size: 74px;
    text-shadow: 0 0 6px rgb(0, 179, 255);
}
#hp .stat_change{
    width: 2em;
    color: inherit;
    font-size: 74px;
    background-color: #4e4e4e;
}
.temp_hp {
    font-size: 20px;
}
.temp_hp .temp_hp {
    display: inline-block;
    width: 3em;
}
.temp_hp .stat_change {
    width: 3em;
}

.modifier {
    font-size: 50px;
    color: darkred;
    text-shadow: 0 0 1px whitesmoke, 1px 1px 1px whitesmoke, -1px -1px 1px whitesmoke, -1px 1px 1px whitesmoke, 1px -1px 1px whitesmoke;
}

#class_features, #inventory {
    overflow-y: auto;
}

#conditions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    line-height: 52px;
}
#conditions .condition {
    font-size: 50px;
}

/*ANCHOR - sidebar menu thing */
#options .button{
    font-size: 60px;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 20%;
    transition: width 200ms ease-in-out, transform 200ms ease-out;
    float: left;
    width: 60px;
    background-color: rgb(193, 193, 193);
    line-height: 1.7em;
    border: 4px solid black;
    border-right: none;
    border-radius: 15px 0 0 15px;
    text-align: center;
    transform: translate(40%);
}
#options .button:hover {
    right: 0;
    top: 20%;
    width: 100px;
    transform: translate(0);
}
#options.hidden .button {
    width: 0;
    transform: translate(4px);
}

#options .contents {
    z-index: 2;
    font-size: 20px;
    top: 0;
    transition: transform 0.43s ease;
    position: fixed;
    right: 0;
    transform: translate(100%);
    width: 20vw;
    background-color: black;
    color: white;
    height: 100%;
    padding: 20px;
    border-left: 10px dashed gold;
}
#options.hidden .contents {
    transform: translate(0);
}
.close_button {
    font-size: 50px;
    cursor: pointer;
}
.close_button_right{
    float: right;
}
#options .contents a {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

#back_to_home {
    color: lightblue;
    background-color: cornflowerblue;
}

#newcontent {
    padding: 0;
    font-size: inherit;
    border: none;
    box-sizing: border-box;
    background-color: #eee;
    margin: 0;
}
#newcontent[type="number"] {
    padding: 0;
}

/*ANCHOR - overlay */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay div {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    cursor: auto;
}
#overlay div.description {
    font-size: 20px;
    width: 50vw;
    padding: 10px 16px 26px 16px;
    background-color: black;
    border: 10px dashed gold;
    max-height: 80vh;
    overflow-y: auto;
}
#overlay div.description span {
    font-size: 50px;
    text-align: center;
    width: 100%;
}

#keyword {
    text-align: center;
    /* background-image: url('/css/something.png'); */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 30vw;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
  
#menu_items {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu_items li {
    text-align: center;
    width: 30vw;
}

#menu_items li a {
    width: 30vw;
    border: 1px solid #ddd;
    margin: auto;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}
  
#menu_items li a:hover:not(.header) {
    background-color: #eee;
}

/* for mobile devices (ew lol) */
/* @media screen and (max-width: 500px) {
    #character {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
} */
