* {
    /*font-family: "Playfair Display";*/
    font-family: "Caudex";
}

#character {
    font-size: larger;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr 1fr;
}

.stats, .stats > *{
    font-size: x-large;
}

input.stat {
    text-align: center;
}

.stat {
    box-sizing: border-box;
    --stat-animation-duration: 280ms;
    margin: 4px;
    text-align: center;
    transition: border var(--stat-animation-duration) ease-out;
    border: 3px solid black;
    border-radius: 4px;
}
.stat:focus{
    outline: 0;
}
.stat {
    width: 2.7em;
}
.stat:hover {
    border-color: lightblue;
}
.stat:focus {
    border-color: navy;
}

body {
    margin: 0;
}

/* for mobile devices (ew lol) */
@media screen and (max-width: 500px) {
    #character {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}