* {
    /*font-family: "Playfair Display";*/
    font-family: "Caudex";
}

.character {
    font-size: larger;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: auto auto;
}

.character img {
    width: 250px;
}

button.features, button.inventory {
    font-size: large;
}
button.features:target, button.inventory:target {
    border-radius: 4px;
    background-color: lightgray;
}
button.features {
    width: 60%;
}
button.inventory {
    width: 30%;
}

.stats.info {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto auto);
    width: 100%;
}
.stats.info * {
    overflow-x: scroll;
}

.stats.attributes {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr;
    grid-template-rows: 1.6em auto;
}

.label {
    font-size: 20px;
    color: white;
    background-color: black;
}
.agaegrfgdeagffgdadfg {
    background-color: rgb(239, 239, 239);
}

.stats, input.stat {
    font-size: larger;
    text-align: center;
}

.stat_label {
    margin-bottom: 4px;
}

.combat .stat {
    font-size: xx-large;
    margin-top: 6px;
    overflow-x: scroll;
}

input.stat_change {
    text-align: center;
}

input.stat_adjustment {
    text-align: center;
    font-size: medium;
    width: 3em;
}

.stat_change {
    border-radius: 4px;
}
.stat_change:focus{
    outline: 0;
}
.stat_change:hover {
    border-color: lightblue;
}
.stat_change:focus {
    border-color: navy;
}

/*ANCHOR - specific stats*/
.combat .stat_change {
    --stat-animation-duration: 280ms;
    width: 2em;
    text-align: center;
    box-sizing: border-box;
    margin: 4px;
    text-align: center;
    transition: border var(--stat-animation-duration) ease-out;
    border: 1px solid black;
    font-size: x-large;
    padding: 0;
    margin-top: 0;
}

.hp {
    color: rgb(0, 93, 133);
    font-weight: bold;
    font-size: 54px;
}
.hp .stat_change{
    width: 2em;
    color: rgb(0, 93, 133);
    font-weight: bold;
    font-size: 54px;
}
#hp {
    color: red;
    font-size: 74px;
}
#hp .stat_change{
    width: 2em;
    color: red;
    font-size: 74px;
}




body {
    margin: 0;
}

/* for mobile devices (ew lol) */
@media screen and (max-width: 500px) {
    #character {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}