.abilities {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
}

.abilities input {
    width: 1.4em;
}

.stats.combat {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto auto);
    width: 100%;
}

.armor_class {
    background-color: rgb(103, 118, 118);
}
.initiative {
    background-color: rgb(47, 47, 47);
}
.speed {
    background-color: rgb(92, 84, 84);
}
#base_attack_bonus, #base_attack_bonus input {
    display: block;
    width: 5em;
    margin: 0 auto;
}

/*ANCHOR - skills*/
.skills {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    font-size: 18px;
}
.skills *:nth-child(6n-1), .skills *:nth-child(6n), .skills *:nth-child(6n-2) {
    background-color: rgb(86, 86, 86);
}
.skills .stat {
    display: inline-block;
    width: 25px;
    background-color: inherit;
}
.skills .stat input {
    position: relative;
    width: 3em;
    z-index: 2;
}
.skill_bonus {
    font-size: 150%;
}

#nonlethal {
    font-size: large;
    position: relative;
    top: -10px;
    height: 0;
    margin: 20px 0;
}
#nonlethal_damage {
    width: 3em;
    display: inline-block;
    padding: 0 2px;
    cursor: pointer;
}
#nonlethal-progressbar-parent {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-left: auto;
    height: 34px;
    left: 0;
    top: -30px;
    position: relative;
    z-index: -1;
}
#nonlethal-progressbar {
    box-sizing: border-box;
    display: block;
    width: 0;
    max-width: 100%;
    margin-left: auto;
    height: 100%;
    position: relative;
    z-index: -2;
    background-color: rgba(188, 37, 37, 0.633);
}
#nonlethal input {
    text-align: center;
    font-size: medium;
    width: 3em;
}

#traits {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-size: x-large;
}
#traits span i {
    transition: transform 0.5s;
}
#traits .expanded span i {
    transform: rotate(180deg);
}
#traits * span {
    cursor: pointer;
}
#traits * div {
    font-size: large;
    text-align: left;
    background-color: #3b3b3b;
    padding: 2px 4px;
    word-break: break-all;
}
#traits .drawback::before {
    content: "— ";
    color: rgb(255, 121, 121);
}

#features, #features i {
    font-size: 24px;
}
#features * span {
    cursor: pointer;
}
#features span i {
    transition: transform 0.5s;
}
#features .expanded span i {
    transform: rotate(180deg);
}
.feature div {
    font-size: 18px;
    text-align: left;
    background-color: #3b3b3b;
    padding: 2px 4px;
    word-break: break-all;
}

.currency {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.currency span {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.currency span:nth-child(1) {
    background-color: rgb(78, 129, 145);
}
.currency span:nth-child(2) {
    background-color: rgb(203, 166, 87);
}
.currency span:nth-child(3) {
    background-color: rgb(106, 114, 114);
}
.currency span:nth-child(4) {
    background-color: rgb(151, 106, 32);
}
.currency input {
    width: 100%;
}