.abilities {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
}

.abilities input {
    width: 1.4em;
}

.stats.combat {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr auto);
    width: 100%;
}

.armor_class {
    background-color: rgb(227, 240, 240);
}
.initiative {
    background-color: white;
}
.speed {
    background-color: rgb(227, 227, 227);
}
#base_attack_bonus, #base_attack_bonus input {
    text-align: left;
    width: 1.4em;
}

/*ANCHOR - skills*/
.skills {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    font-size: 18px;
}
.skills *:nth-child(6n-1), .skills *:nth-child(6n), .skills *:nth-child(6n-2) {
    background-color: rgb(231, 231, 231);
}
.skills .stat {
    display: inline-block;
    width: 80px;
    background-color: inherit;
}
.skills .stat input {
    width: 3em;
}
.skill_bonus {
    font-size: 150%;
}

#nonlethal {
    font-size: large;
    position: relative;
    top: -10px;
    height: 0;
    margin: 20px 0;
}
#nonlethal_damage {
    padding: 0 10px;
}
#nonlethal-progressbar-parent {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-left: auto;
    height: 34px;
    left: 0;
    top: -30px;
    position: relative;
    z-index: -1;
}
#nonlethal-progressbar {
    box-sizing: border-box;
    display: block;
    width: 0;
    max-width: 100%;
    margin-left: auto;
    height: 100%;
    position: relative;
    z-index: -2;
    background-color: rgba(255, 0, 0, 0.633);
}
#nonlethal input {
    text-align: center;
    font-size: medium;
    width: 3em;
}