{% extends "_core/base.j2" %}
{% block head %}
<title>404 not found</title>
{% endblock %}
{% block body %}
<p>404</p>
<img src="{{ url_for('static', filename='images/oof.png') }}" alt="oof" width="210" height="210">
{% endblock %}
