{% extends "_core/base.j2" %}
{% block title %}Sign Up{% endblock %}

{% block head %}{% endblock%}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="error">
        Error: {{ messages[0] }}.
    </div>
{% endif %}
{% endwith %}

<div id="login">
    <form action="{{ url_for('auth.signup') }}?next={{ next }}" method="post">
        <label for="user_id">User ID:</label>
        <input type="text" name="user_id" autocomplete="username" maxlength="50">
        <label for="lname">Name:</label>
        <input type="text" name="user_name" autocomplete="off" maxlength="50">
        <label for="lname">Password:</label>
        <input type="password" name="password" autocomplete="new-password" maxlength="100">
        <input type="submit" value="Sign Up">
    </form>
</div>
{% endblock %}
